
    <!--======= HOME MAIN SLIDER =========-->
    <section class="home-slider">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                        <!-- MAIN IMAGE -->
                        <%=image_tag("sliders/1/slide-1.jpg",:alt=>"slider",:'data-bgposition'=>"center top",:'data-bgfit'=>"cover",:'data-bgrepeat'=>"no-repeat") %>

                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption biglargetext sfr tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-90"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.06"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We Deliver </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption verybiglargetext sfr tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="40"
                             data-speed="500"
                             data-start="1500"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.07"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Excellence </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption font-crimson font-italic sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="140"
                             data-speed="500"
                             data-start="1900"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">We are Creative Stuido from Lon Don - UK </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption lfb tp-scrollbelowslider"
                             data-x="center" data-hoffset="0"
                             data-y="bottom" data-voffset="-50"
                             data-speed="500"
                             data-start="2400"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             data-scrolloffset="0"
                             style="z-index: 8;"><img src="resources/images/sliders/6/enter.png" alt=""> </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                        <!-- MAIN IMAGE -->
                        <%=image_tag("sliders/1/slide-1.jpg",:alt=>"slider",:'data-bgposition'=>"center top",:'data-bgfit'=>"cover",:'data-bgrepeat'=>"no-repeat") %>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-170"
                             data-speed="600"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.07"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 5; font-size:40px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">ZAP MULTI-CONCEPT THEME </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption font-crimson font-italic sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-100"
                             data-speed="600"
                             data-start="2500"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 6; font-size:24px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">Create your custom color scheme with only a few clicks! </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfb"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="150"
                             data-speed="500"
                             data-start="3300"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 8;"><
                             <%=image_tag("sliders/1/IMAC2.png") %>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption skewfromleft tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="bottom" data-voffset="20"
                             data-speed="400"
                             data-start="4100"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#." class="btn btn-med btn-color">PURCHASES</a> </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                        <!-- MAIN IMAGE -->
                        <%=image_tag("sliders/1/slide-1.jpg",:alt=>"slider",:'data-bgposition'=>"center top",:'data-bgfit'=>"cover",:'data-bgrepeat'=>"no-repeat") %>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption font-bold skewfromright tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-60"
                             data-speed="300"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 5; font-size:60px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">ZAP CREATIVE AGENCY </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption font-crimson font-italic sfb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="10"
                             data-speed="500"
                             data-start="2100"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 6; font-size:30px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">10 + Unique Demo layouts </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption skewfromleft tp-resizeme"
                             data-x="center" data-hoffset="-120"
                             data-y="center" data-voffset="100"
                             data-speed="500"
                             data-start="2500"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#." class="btn btn-med btn-color">PURCHASES</a> </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption skewfromright tp-resizeme"
                             data-x="center" data-hoffset="120"
                             data-y="center" data-voffset="100"
                             data-speed="500"
                             data-start="2800"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#" class="btn btn-med btn-color">SEE OUR WORK</a> </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Content -->
    <div id="content">

        <section class="blog padding-top-80">
            <div class="container">
                <div class="heading-block text-center">
                    <h3>Ofertas de la semana</h3>
                    <div class="divider divider-short divider-center"><%=image_tag("divider/hammers.png",:alt=>"Divider Icon Image",:class=>"i-div")%></div>
                    <span>Tell Your Story</span> </div>
            </div>


            <!-- PORTFOLIO ITEMS -->
            <div class="items row col-4">

                <!-- ITEM -->
                <article class="portfolio-item pf-branding-design pf-web-design">
                    <div class="portfolio-image"> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-photography pf-branding-design">
                    <div class="portfolio-image"> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-web-design pf-branding-design">
                    <div class="portfolio-image"> <a href="#."><a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-web-design pf-digital-art pf-branding-design">
                    <div class="portfolio-image"> <a href="#."> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-branding-design pf-digital-art">
                    <div class="portfolio-image"> <a href="#."> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-branding-design pf-digital-art">
                    <div class="portfolio-image"> <a href="#."> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%></a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-branding-design pf-photography">
                    <div class="portfolio-image"> <a href="#."> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>

                <!-- ITEM -->
                <article class="portfolio-item pf-branding-design pf-digital-art">
                    <div class="portfolio-image"> <a href="#."> <a href="#."><%=image_tag("portfolio/1/portfolio-1.png",:alt=>"Open Imagination")%> </a> </div>
                    <div class="portfolio-overlay">
                        <div class="position-center-center"> <span><a href="#.">Fashion</a></span>
                            <h3><a href="#.">Crossfit : 15.4 Open Workout</a></h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>





        <!-- Blog -->
        <section class="blog padding-top-80">
            <div class="container">
                <div class="heading-block text-center">
                    <h3>Latest Blog</h3>
                    <div class="divider divider-short divider-center"><a href="#."><%=image_tag("divider/hammers.png",:alt=>"Divider Icon Image",:class=>"i-div")%> </div>
                    <span>Tell Your Story</span> </div>
            </div>

            <!-- Blog -->
            <div class="container-fluid">

                <!-- Blog Row -->
                <div class="posts posts-list list-style-1 row  margin-bottom-80">

                    <!-- Blog -->
                    <div class="entry col-lg-6 no-padding">
                        <div class="entry-image"> <a href="#."><%=image_tag("blog/1/blog-1.png",:alt=>"Blog Thumbnail Image",:class=>"responsive-img")%></a> </div>
                        <div class="entry-body"> <span class="entry-category">Branding design</span>
                            <h4 class="entry-title"><a href="#.">Leeds Juicery</a></h4>
                            <p class="entry-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
                            <a href="#." class="more-link">Read More <i class="fa  fa-long-arrow-right"></i></a> </div>
                    </div>

                    <!-- Blog -->
                    <div class="entry col-lg-6 no-padding">
                        <div class="entry-image"> <a href="#."> <%=image_tag("blog/1/blog-1.png",:alt=>"Blog Thumbnail Image",:class=>"responsive-img")%> </a> </div>
                        <div class="entry-body"> <span class="entry-category">Motion Graphic</span>
                            <h4 class="entry-title"><a href="#.">Hello Itaewon Project</a></h4>
                            <p class="entry-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
                            <a href="#." class="more-link">Read More <i class="fa fa-long-arrow-right"></i></a> </div>
                    </div>

                    <!-- Blog -->
                    <div class="entry entry-image-right col-lg-6 no-padding">
                        <div class="entry-image"> <a href="#."> <%=image_tag("blog/1/blog-1.png",:alt=>"Blog Thumbnail Image",:class=>"responsive-img")%> </a> </div>
                        <div class="entry-body"> <span class="entry-category">Lookbook seasonal</span>
                            <h4 class="entry-title"><a href="#.">Brooklyn</a></h4>
                            <p class="entry-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
                            <a href="#." class="more-link">Read More <i class="fa fa-long-arrow-right"></i></a> </div>
                    </div>

                    <!-- Blog -->
                    <div class="entry entry-image-right col-lg-6 no-padding">
                        <div class="entry-image"> <a href="#."> <%=image_tag("blog/1/blog-1.png",:alt=>"Blog Thumbnail Image",:class=>"responsive-img")%> </a> </div>
                        <div class="entry-body"> <span class="entry-category">Photography</span>
                            <h4 class="entry-title"><a href="#.">Maxi Dress</a></h4>
                            <p class="entry-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
                            <a href="#." class="more-link">Read More <i class="fa fa-long-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End Content -->
