<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>EnJuego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "responsive" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('vendors/modernizr.js') %>


  </head>

  <body>
    <!-- Header -->
        <header class="header">
            <div class="sticky">
                <div class="container">
                    <div class="logo"> <a href="/"><%=image_tag("logo.png",:class=>"media-object img-responsive") %> </a> </div>

                    <!-- Nav -->
                    <nav>
                        <ul id="ownmenu" class="ownmenu">
                            <li class="active"><a class="border-center" href="/">Inicio</a>
                            </li>
                            <li><a>Tienda</a>
                                <ul class="dropdown">
                                    <li><a href="products">Cátalogo</a></li>

                                </ul>
                            </li>
                            <li><a href="blog">Blog</a>
                            </li>
                            <li><a href="contact">Contactános</a></li>
                          
                    </nav>
                </div>
            </div>
        </header>
        <!-- End Header -->




    <%= yield %>

    <%= javascript_include_tag('vendors/jquery/jquery.min.js') %>
    <%= javascript_include_tag('vendors/wow.min.js') %>
    <%= javascript_include_tag('vendors/bootstrap.min.js') %>
    <%= javascript_include_tag('vendors/own-menu.js') %>
    <%= javascript_include_tag('vendors/flexslider/jquery.flexslider-min.js') %>
    <%= javascript_include_tag('vendors/jquery.countTo.js') %>
    <%= javascript_include_tag('vendors/jquery.isotope.min.js') %>
    <%= javascript_include_tag('vendors/jquery.bxslider.min.js') %>
    <%= javascript_include_tag('vendors/owl.carousel.min.js') %>
    <%= javascript_include_tag('vendors/jquery.sticky.js') %>
    <%= javascript_include_tag('rs-plugin/js/jquery.themepunch.tools.min.js') %>
    <%= javascript_include_tag('rs-plugin/js/jquery.themepunch.revolution.min.js') %>
    <%= javascript_include_tag('zap.js') %>
    <script>
    /*-----------------------------------------------------------------------------------*/
    /*    Parallax
    /*-----------------------------------------------------------------------------------*/
    $('.images-slider').flexslider({
      animation: "fade",
      controlNav: "thumbnails"
    });
    </script>

  </body>
</html>
