<!DOCTYPE html>
<html>
  <head>
    <title>EnJuego</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Header -->
        <header class="header">
            <div class="sticky">
                <div class="container">
                    <div class="logo"> <a href="/"><%=image_tag("logo.png") %> </a> </div>

                    <!-- Nav -->
                    <nav>
                        <ul id="ownmenu" class="ownmenu">
                            <li class="active"><a class="border-center" href="/">Inicio</a>
                            </li>
                            <li><a>Tienda</a>
                                <ul class="dropdown">
                                    <li><a href="catalogo">Cátalogo</a></li>
                                    <li><a href="pago">Pago</a></li>
                                    <li><a href="pedido">Pedido</a></li>
                                </ul>
                            </li>
                            <li><a href="blog">Blog</a>
                            </li>
                            <li><a href="contactanos">Contactános</a></li>
                            <li><a>Registrarse</a>
                            </li>
                            <li><a>Entrar</a>
                            </li>
                            <!--======= Shopping Cart =========-->
                            <li class="shop-cart right"><a href="#."><i class="fa fa-shopping-cart"></i></a> <span class="numb">2</span>
                                <ul class="dropdown">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="cart-img"> <a href="#"><%=image_tag("shop/cart-small-img-1.jpg",:class=>"media-object img-responsive") %></a> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">JACQUARD FLORAL COAT</h6>
                                                <span class="price font-crimson text-primary font-18px font-italic">129.00 USD</span> <span class="qty">QTY: 01</span> </div>
                                        </div>
                                    </li>
                                    <li class="no-margin">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="cart-img"> <a href="#"> <%=image_tag("shop/cart-small-img-2.jpg",:class=>"media-object img-responsive") %> </a> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">FLAT SOLE PATENT SANDAL</h6>
                                                <span class="price font-crimson text-primary font-18px font-italic">129.00 USD</span> <span class="qty">QTY: 01</span> </div>
                                        </div>
                                    </li>
                                    <li class="no-padding no-border no-margin">
                                        <h5 class="text-center">SUBTOTAL:<span class="font-crimson font-italic text-primary"> $258.00</span></h5>
                                    </li>
                                    <li class="no-padding no-border no-margin">
                                        <div class="row">
                                            <div class="col-xs-12"> <a href="#." class="btn btn-small">PROCESS TO CHECKOUT</a></div>
                                            <div class="col-xs-12"> <a href="#." class="btn btn-1 btn-small">VIEW SHOPPING CART</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--======= SEARCH ICON =========-->
                            <li class="search-nav right"><a href="#."><i class="fa fa-search"></i></a>
                                <ul class="dropdown">
                                    <li>
                                        <form>
                                            <input type="search" class="form-control" placeholder="Enter Your Keywords..." required>
                                            <button type="submit"> SEARCH </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End Header -->




    <%= yield %>

    <%= javascript_include_tag('vendors/jquery/jquery.min.js') %>
    <%= javascript_include_tag('vendors/wow.min.js') %>
    <%= javascript_include_tag('vendors/bootstrap.min.js') %>
    <%= javascript_include_tag('vendors/own-menu.js') %>
    <%= javascript_include_tag('vendors/flexslider/jquery.flexslider-min.js') %>
    <%= javascript_include_tag('vendors/jquery.countTo.js') %>
    <%= javascript_include_tag('vendors/jquery.isotope.min.js') %>
    <%= javascript_include_tag('vendors/jquery.bxslider.min.js') %>
    <%= javascript_include_tag('vendors/owl.carousel.min.js') %>
    <%= javascript_include_tag('vendors/jquery.sticky.js') %>
    <%= javascript_include_tag('rs-plugin/js/jquery.themepunch.tools.min.js') %>
    <%= javascript_include_tag('rs-plugin/js/jquery.themepunch.revolution.min.js') %>
    <%= javascript_include_tag('zap.js') %>
    <script>
    /*-----------------------------------------------------------------------------------*/
    /*    Parallax
    /*-----------------------------------------------------------------------------------*/
    $('.images-slider').flexslider({
      animation: "fade",
      controlNav: "thumbnails"
    });
    </script>

  </body>
</html>
